.filters{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
    padding: 1rem 6rem;
}

.filters > div {
    display: flex;
    width: 30%;
    gap: 1rem;
}

.filters span {
    color: black;
}