.mostPurchased-Container {
    background-color: wheat
}

.mostPurchased-Container h2{
    display: flex;
    justify-content: center;
    padding: 1rem 0.8rem;
    font-size: 2rem;
    font-weight: 900;
}

.mostPurchased {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mostPurchased ul {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            150px,
            1fr
        )
    );
    gap: 0.5rem;
}

.mostPurchased li {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.mostPurchased img {
    aspect-ratio: 4/5;
    display: block;
    object-fit: cover;
}