.store-container > :last-child {
    display: flex;
    flex-wrap: nowrap;
}

.store-container > :last-child > :first-child {
    width: 25%;
}
.store-container > :last-child > :last-child {
    width: 80%;
}
.products >ul > li > section {
    margin-top: 0.5rem;
}

.chip-container {
    border-radius: 20px;
    background-color: #445957;
    color: white;
    font-size: 12px;
    padding: 0.1rem 1rem;
    font-weight: 400;
}
.container-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
video {
    position: absolute;
    width: 100%;
    height: 100%;
}

.position-absolute{
    width: 100%;
    height: 300px;
    position: relative;
    padding: 2em;
    top: 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.position-absolute :first-child {
    font-size: 6em;
    display: flex;
    padding: 0.3em 0.5em;
    flex-wrap: wrap;
    font-weight: 900;
    text-align: center;
}

span {
    width: 100%;
    padding: 0em 0.5em 1em 0.5em;
    text-align: center;
    color: white;
}