

.modal-container {
    width: 40%;
    padding: 2rem;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 7;
    height: 70%;
    overflow-y: scroll;
    background-color: #e3eeec;
    display: grid;
    flex-wrap: wrap;
}

.modal-content {
    width: 85%;
    justify-self: center;
}

.modal-content > div {
    margin-bottom: 1rem;
}

.modal-content > div > select {
    width: 100%;
    height: 70%;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #E4B523;
}
.modal-content > :last-child {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}
.modal-content > :last-child > button {
    margin-top: 0;
    margin-left: 1rem;
}
.modal-content > div > select:focus-visible{
    border-bottom: 3px solid #E4B523;
}

.c-70{
    margin: 2rem 2rem 2rem 0.5rem;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: space-between;
}

.c-70 > h2 {
    height: min-content;
}