.c-70 > :first-child{
    display: flex;
}

.c-70 > :first-child > button {
    margin-left: 1rem;
}

.w-90 {
    width: 88%;
}

.p-2 {
    padding: 5rem;
}

.m-5 {
    margin: 0rem 0.5rem 0.5rem 0rem;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}