.info-profile{
    margin: 2rem;
    width: 30%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 3rem;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
.info-profile >:last-child > main {
    margin-top: 1rem;
}
.info-profile > :last-child > main> div >:first-child {
    width: 30%;
}
.modal-content > div> input{
    background-color: transparent;
}
.info-profile > :first-child {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
}

.info-profile > :first-child > img {
    width: 40%;
}

.chip-container {
    background-color: #c5ac61;
}