:root{
    --principal-color: #545E3F !important;
    --secondary-color: #d78b30;
    --color-3: #9f886f;
    --color-4: #f5e6c5;
}

.custom-navbar {
    background: #445957;
    color: white !important;
    width: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 0.7rem 5rem;
    height: 3.5rem;
    transition: transform 0.3s ease;
    
}

.l0 {
    width: 20% !important;
}

.hidden {
    display: none;
}

.nav-button{
    color: white !important;
    text-decoration: none;
    margin-right: 1rem;
    
}



.nav_toggle{
    display: none;
}
 .nav-item {
    margin-bottom: 10px;
 }
  @media (max-width: 768px) {
 
    .ml-auto{
        position:fixed;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column !important;
        justify-content:flex-start;
        align-items:flex-start ;
        width: 40%;
        max-width: 300px;
        background: #445957;
        padding: 1rem;      
        transform: translateX(-100%);
        transition: transform 0.3s ease ;
        z-index: 5;
    }
    .icon{
        width: 200%;
    }  
    
    .l0 {
        width: 20%;
    }

    .ml-auto.open{
        transform: translateX(0);
    }
    .nav_toggle{
        display: flex !important;
        flex-direction: column;                
        margin: 25px;
    }
    .nav_toggle span{
        width: 30px;
        height: 4px;
        background: white;
        margin-bottom: 2px;
        border-radius: 2px;             
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }
    .nav_toggle.open > span{
        transform: rotate(45deg) translate(14px, 7px);
    }
    .nav_toggle.open > span:nth-child(2){
        opacity: 0;
    }
    .nav_toggle.open > span:nth-child(3){
        transform: rotate(-45deg) translate(-1px, -7px);
    }

    .nav-item{
        display: flex;
        flex-wrap: wrap;
       
    }

    .nav-button{
        display: flex;
        flex: auto;
    }
}
    
 