:root {
    --principal-color: #1d3025!important;
    --secondary-color: #717866 !important;
    font-size: 15px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}


* {
    font-family: 'Poppins', sans-serif;
}

.principal-color {
    color: var(--principal-color);
}
.bg-secondayColor {

    background-color: var(--secondary-color);
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.w-full {
    width: 100%;
}

.font-bold {
    font-weight: bold;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.content-center {
    align-content: center;
}

.mb-2 {
    margin-bottom: 2em;
}

.mt-1 {
    margin-top: 1em !important;
}

.w-50 {
    width: 50%;
}

.box-shadow {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

/*Estilos de diseño*/

.message-container {
    background-color: #f0e5da;
    opacity: 0.6;
    padding: 1rem;
    border: 1px dashed #BA7933;
}


a:hover {
    color: #F3E0D4 !important;
    cursor: pointer;
}

/* button {
    color: aquamarine;
    background-color: darkslategrey;
    padding: 0.5em 1em;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top:5px ;
} */


.products>ul>li>button {
    border-radius: 0;
}

*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-track {
    background: rgb(176, 176, 177);
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 0px;
    border: 3px solid black
}

.products li {
    background-color: white;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.products li:hover {
    transform: scale(1.05);
}

.carousel-caption {
    top: 13.25rem;
    bottom: 0;
}

.carousel-caption h2 {
    font-size: 30px;
    font-weight: bold;
    color:white;
  
    
}

@media only screen and (max-width: 900px) {
    .filters-store {
        width: 100% !important;
        margin: 1em;
    }
    .cart-container {
        width: 100% !important;
      }
      .resumen {
        width: 100% !important;
      }
      .cart-body {
        width: 100%;
        flex-wrap: wrap;
      }
}

/* @media (max-width: 900px) {
    .filters-store {
        width: 100% !important;
        margin: 1em;
    }
    .cart-container {
        width: 100% !important;
      }
      .resumen {
        width: 100% !important;
      }
      .cart-body {
        width: 100%;
        flex-wrap: wrap;
      }
} */
