:root {
    --principal-color: black;
}
*{
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: black;
    color: white;
    padding: 0.5em 1em;
}

*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: rgb(176, 176, 177);
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 0px;
    border: 3px solid black
}

.products li {
    background-color: white;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.products li:hover{
    transform: scale(1.05);
}

.carousel-caption{
    top: 15.25rem;
    bottom: 0;
}

.carousel-caption h2 {
    font-size: 40px;
    font-weight: bold;
}

ul {
    padding-left: 0 !important;
}