@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --principal-color: #445957;
    font-size: 15px;
}
*{
    font-family: 'Poppins', sans-serif;
}
.box-shadow {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
a:hover {
    color: #F3E0D4 !important;
    cursor: pointer;
}
button {
    color: aquamarine;
    background-color: darkslategrey;
    padding: 0.5em 1em;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top:5px ;
}


.products >ul > li > button {
    border-radius: 0;
}

*::-webkit-scrollbar {
    width: 0px;
}
*::-webkit-scrollbar-track {
    background: rgb(176, 176, 177);
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 0px;
    border: 3px solid black
}

.products li {
    background-color: white;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.products li:hover{
    transform: scale(1.05);
}

.carousel-caption{
    top: 13.25rem;
    bottom: 0;
}

.carousel-caption h2 {
    font-size: 30px;
    font-weight: bold;
    color:white;
  
    
}


